@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg, #000, #003b73);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.app {
    width: 360px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #6fbfe9;
}

.card-container {
    position: relative;
    height: 460px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0d5390, #0b7fec);
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 20px 45px rgba(0, 198, 255, 0.4);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #00c6ff;
    object-fit: cover;
    margin-bottom: 12px;
}

.card h2 {
    color: #00c6ff;
    margin-bottom: 6px;
}

.card p {
    margin: 6px 0;
    font-size: 20px;
    color: #ddd;
}

.skills {
    margin-top: 8px;
}

.skills span {
    display: inline-block;
    background: #0050ff;
    color: white;
    padding: 5px 10px;
    border-radius: 14px;
    margin: 4px;
    font-size: 12px;
}

.actions {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.reject {
    background: linear-gradient(135deg, #ff4e50, #ff0000);
    color: white;
}
.reject:hover {
    box-shadow:0 6px 18px rgba(236, 13, 13, 0.812);
    transform:translateY(-2px);
    color: white;
}

.like {
    background: linear-gradient(135deg, #0dc446, rgba(34, 139, 34));
    color: white;
}
.like:hover {
    box-shadow:0 6px 18px rgba(32, 229, 32, 0.812);
    transform:translateY(-2px);
    color: white;
}


.swipe-right {
    transform: translateX(420px) rotate(20deg);
    opacity: 0;
}

.swipe-left {
    transform: translateX(-420px) rotate(-20deg);
    opacity: 0;
}
.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 198, 255, 0.5);
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.card::after{
  position:absolute;
  top:20px;
  font-size:22px;
  font-weight:bold;
  opacity:0;
  transition:0.2s;
}

.preview-like::after{
  content:"MATCH";
  color:#22c55e;
  right:20px;
  opacity:1;
}

.preview-reject::after{
  content:"SKIP";
  color:#ef4444;
  left:20px;
  opacity:1;
}



